.mat-cardDiv {

  min-width: 100%;
  border: double 2px transparent;
  background-image: linear-gradient(white, #2E2C2C), 
    radial-gradient(circle at top left, red, blue);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 61%;
  cursor: pointer;
  
}

.wrapper {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  display: flex;
  min-width: 4em;
  height: 4rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  word-wrap: 0;
  margin-right: 1em;
  justify-content: center;
  color: rgb(186, 21, 27);
}

.wrapper .item i {
  display: table-cell;
  justify-content: center;
  vertical-align: middle;
  align-self: center;
}