<div  class="input-group">
  <div class="input-group-prepend">
    <span 
      class="input-group-text" 
      style="font-size: 1em;"  
      id="inputGroupFileAddon01" 
      (click)="addPictures()"
    >Carregar</span>
  </div>
  <div class="form-group custom-file">
    <input 
      class="custom-file-input" 
      aria-describedby="inputGroupFileAddon01" 
      (change)="picked($event)" 
      id="pickPic" 
      name="pickPic" 
      type="file"
    >
    <mat-label 
      class="custom-file-label" 
      id="pickPic"
      for="inputGroupFileAddon01"
    >{{fileName}}</mat-label>
  </div>
</div>