.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.file-field.medium .file-path-wrapper {
  height: 3rem;
}

.file-field.medium .file-path-wrapper .file-path {
  height: 2.8rem;
}

.file-field.big-2 .file-path-wrapper {
  height: 3.7rem;
}

.file-field.big-2 .file-path-wrapper .file-path {
  height: 3.5rem;
}
