.footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    white-space: normal;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
}