<ng-template #content let-modal>


  <form>
    <mat-form-field floatLabel="always">
      <mat-label>Título</mat-label>
      <input 
        matInput 
        name="title" 
        [(ngModel)]="contentMidia.title" 
        placeholder="O título do seu conteúdo aqui..."
        >
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Conteúdo</mat-label>
      <textarea 
        matInput 
        name="text" 
        [(ngModel)]="contentMidia.text"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="Seu texto ou conteúdo, a vontade aqui"></textarea>
    </mat-form-field>

    <app-pick-pic-to64-button></app-pick-pic-to64-button>

  </form>


</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">trying</button>

<pre>{{ closeResult }}</pre>