<form #content class="div">
  <span>Publicar Midia</span>
  <mat-form-field>
    <mat-label>Título</mat-label>
    <input required matInput #inputFormTitle name="title" [(ngModel)]="inputTitle" (ngModelChange)="emptyField()"
      placeholder="O título do seu conteúdo aqui...">
  </mat-form-field>

  <mat-form-field *ngIf="typeFormComponentFor === stateEnumValidator.columnist" shouldLabelFloat>
    <mat-label>Conteúdo</mat-label>
    <textarea required matInput #inputFormContent name="text" [(ngModel)]="inputText" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" (ngModelChange)="emptyField()"
      placeholder="Seu texto ou conteúdo, a vontade aqui"></textarea>
  </mat-form-field>

  <app-pick-pic-to64-button (base64imageURL)="imageUrlEvent($event)"></app-pick-pic-to64-button>

  <div>
    <mat-button-toggle class="cancelar" (click)="getDismiss()">Cancelar</mat-button-toggle>

    <mat-button-toggle class="enviar" *ngIf="imageUrl.size && isFormComplete" (click)="registerContent()">Enviar
      Conteúdo</mat-button-toggle>
  </div>

</form>
