<!-- <ng-template #content let-modal> -->


  <form class="div">
    <mat-form-field >
      <mat-label>Título</mat-label>
      <input 
        matInput 
        #inputFormTitle
        name="title" 
        [(ngModel)]="inputTitle" 
        placeholder="O título do seu conteúdo aqui..."
        >
    </mat-form-field>

    <mat-form-field shouldLabelFloat>
      <mat-label>Conteúdo</mat-label>
      <textarea 
        matInput 
        #inputFormContent 
        name="text" 
        [(ngModel)]="inputText"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        placeholder="Seu texto ou conteúdo, a vontade aqui"></textarea>
    </mat-form-field>

    <app-pick-pic-to64-button (base64imageURL)="imageUrlEvent($event)"></app-pick-pic-to64-button>

    <div>
      <mat-button-toggle class="cancelar" >Cancelar</mat-button-toggle>

      <mat-button-toggle class="enviar" *ngIf="imageUrl && inputFormTitle != '' && inputFormContent != '' ">Enviar Conteúdo</mat-button-toggle>
    </div>

  </form>


<!-- </ng-template> -->

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">trying</button> -->