.nav{
    /* position: fixed; */
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: #BA151B;    
    justify-content: center;
    align-items: center;
}

.nav .loading{
    width: 100%;
    height: 100%;
    display: contents;
}

.loading ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #2E2C2C;
}

.nav .mat-button-toggle-group{
    border: none;  
}

.nav .mat-button-toggle{
    background-color: transparent;
    margin: 0.25rem;
    border-radius: 2em;
    justify-content: baseline;
    display: flex;
}

.nav .mat-button-toggle-checked{
    background-color: rgb(56, 54, 54);    
}

.nav .mat-button-toggle a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #241818;
}

.nav .mat-button-toggle-checked a{
   color: #FFF;
}

.nav i{
    margin-right: 0.3rem;
}

.nav .logo{
    max-height: 5rem
}

.nav .title-group{
    padding-left: 25px;
}

.nav .title-group i{
    padding-right: 5px;
}

.pageNavigator{
    margin:2em;
    height: 100%;
}

.nav .scrolling {
    overflow-x: auto; 
}

.nav .scrolling::-webkit-scrollbar{
    width: 0;
}

