/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; color:#FFFFFF; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #2e2c2c; }

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green {
    color: rgb(94, 277, 107);
}

.v-middleIcons {
    vertical-align: middle;
}

.grey{
    color:grey
}

.red{
    color: #ED1824;
}

.txt-al-center{
    text-align: center;
}