.mat-cardDiv {

  min-width: 100%;
  /* max-width: 20%; */

  /* min-height: 200%; */
  /* max-height: 20%; */
  border-radius: 61%;
  background-color: dimgrey;
  cursor: pointer;
}

.wrapper {
    /* max-height: 120px; */
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item {
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    word-wrap: 0;
    background-color: #ddd;
    margin-right: 2em;
    justify-content: center;
    color: black;
}